

body {
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    background-color:  #cef0fa;
}
    
.container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
 .mortage-heading{
    font-size: 16px;
    font-weight: 500;
    color: rgb(87, 83, 83);
}
.Calculator{
    height: 520px;
    width: 450px;
    background-color: #ffffff;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    
}
.result{
    height: 520px;
    width: 450px;
    background-color:#2b2d42;
    color: white;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 50px;
    margin-left: -50px;

}
.inside-calc{
    margin: 30px;
    overflow:hidden;
  
}
.heading{
    font-size: 20px;
    font-weight: 700;
    color: black;
}
.calc-heading{
    display: flex;
    align-items: center;
    gap: 100px;
}

.Mortage-amount{
    height: 40px;
    width: 300px;
    border: 2px solid grey;
    border-left: none;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    
    
    
    
}
.mortage-sign{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:#cef0fa;
    width: 12%;
    border: 2px solid grey;
    border-right: none;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    
    
}
.mortage-heading{
    display: flex;
    gap: 89px;
}
.mortage-box{
    display: flex;
    gap: 20px;
}

.years{
    height: 40px;
    width: 80px;
    background-color:white;
    border: 2px solid grey;
    border-right: none;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;

   
}
.years-sign{
    height: 42px;
    width: 80px;
    background-color: #cef0fa;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid grey;
    border-left: none;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;

}
.Mortage-type{
    display: flex;
}

.Repayment{
    display: flex;
    align-items: center;
    height: 40px;
    width: 90%;
    background-color: white;
    border: 2px solid grey; 
    border-radius: 5px;
    margin-bottom: 10px;
    font-weight: 700;
    
}

#Payment{
    font-weight: 500;
}
.repay-button{
    background-color: rgb(183, 183, 30);
    height: 40px;
    width:65%;
    border-radius: 50px ;
    font-weight: 700;
}
.main{
    display: flex;
   
}

.heading-result{
    color: white;
    font-weight:400;
}

.result-para{
    color: rgb(166, 159, 159);
    font-weight: lighter;
}

.payment-color{
    
    color: rgb(166, 159, 159);
    
}


.monthly-payment{
    height: 200px;
    width: 90% ;
    background-color: black;
    padding-left: 20px;
    padding-bottom: 20px;
    padding-right: 20px;
    border-radius: 5px;
    border-top: 3px solid yellow ;
}

.interest-only{
    background-color: rgb(183, 183, 30);
    height: 40px;
    border-radius: 50px ;
}
#monthlyPayment{
    color: yellow;
    font-size:30px;
}  

#totalRepayment{
    font-size: 20px ;
}


.results-interest{
    padding: 10px;
    background-color: black;
    color: white;
}

